h1 {
    color: blue;
    font-family: arial, sans-serif;
}

.container {
    border: dotted;
    padding: 1%;
    margin: 1%;

}

body {
    background-color: lightgray;
}

header {
    background-image: url("https://imagedelivery.net/LBWXYQ-XnKSYxbZ-NuYGqQ/0fb1a67e-794b-49b7-e7ac-62730755b000/avatarhd");
    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
}

.highlight {
    color: green;
}

#main-title {
    font-size: 36px;
}

input[type="text"] {
    border-color: blue
}

nav ul li {
    display: inline;
    padding: 1%;

}

@media (width < 500px) {
    body {
        background-color: white;
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: darkgrey;

    a:hover {
        background-color: aqua;
        transition-duration: 0.3s;

    }

    a:visited {
        color: purple;
    }

}

.navbar a {
    justify-items: center;
    padding: 25px, 25px, 25px, 25px;
    color: white;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery img {
    height: auto;
    width: 100%;
}

@media(width < 500px) {
    .gallery {
        grid-template-columns: 1fr;
    
    }
    .navbar {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: none;
    }
    .hideOnMobile{
        display: none;
        flex-direction: column;
    }
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

p {
    color: blue;
}

.highlight p {
    color: green;
}

.hamburger {
    position: fixed;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
    height: 25vh;
    width: 300px;
    z-index: 999;
    background-color: rgb(202, 133, 44);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hamburger li {
    width: 100%;

}

.hamburger a {
    width: 100%;
    color: rgb(255, 255, 255);
}



@media(max-width: 500px) {
    .sidebar{
        width:100%
    }
    .navbar {
        display: none;
    }
    
}

.menu-button {
    display: block;
    cursor: pointer;
    position: relative;
}

@media(width > 500px){
    .hamburger{
        display: none;
    }
}
